{ 
  "presets" : ["next"], 
  "plugins" : [ 
    "@babel/plugin-transform-react-jsx",
    ["babel-plugin-root-import", {"rootPathPrefix": "@", "rootPathSuffix": "src"}],
    ["styled-components", { "ssr": true, "displayName": true }]
  ] 
}