.expansibledLayout {
  display: flex;
  flex-direction: column;
}

.expansibledLayout ul {
  list-style: none;
  margin: 0;
}

.expansibledLayout > div {
  flex: 1;
  padding: 0 5%;
  overflow: hidden auto;
}

.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "player player player player" 
    "ementa ementa ementa ementa"
    "list list list list"
    "videos videos videos videos";
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.player {
  grid-area: player;
}

.expansibleContainer {
  grid-area: ementa;
}

.listContainer{
  grid-area: list;
  margin-top: 0 !important;
}

.listContainer > header {
  margin-top: 0 !important;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list h1{
  width: fit-content; 
}

.list h2 {
  font-size: 2em;
}

.videosContainer {
  grid-area: videos;
  margin-top: 0 !important;
}

.videosContainer > header {
  margin-top: 0 !important;
}

.videosContainer > main > article > header {
  display: none;
}

@media only screen and (min-width: 1024px){
  .layout {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
      "ementa ementa ementa ementa" 
      "player player list list" 
      "videos videos videos videos";
      grid-row-gap: 0px;
  }

  .player {
    align-self: center;
  }

  .expansibleContainer button{
    width: 50% !important;
    position: absolute;
    right: 0;
    margin-top: 2.5em;
  }

  .expansibledLayout{
    flex-direction: row;
    padding-bottom: 10px !important;
  }
  
  .listContainer {
    margin: 0 !important;
    align-self: end;
  }

  .listContainer > header {
    margin-bottom: 14% !important;
  }

  .videosContainer {
    margin-top: 5em !important;
  }

  .videosContainer > main > article > header {
    display: inline-flex;
  }

}