.expansibledLayout {
  display: flex;
}

.expansibledLayout ul {
  list-style: none;
  margin: 0;
}

.expansibledLayout > div {
  flex: 1;
  padding: 0 5%;
  overflow: hidden auto;
}

.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "player player player list" 
    "videos videos videos videos";
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.player {
  grid-area: player;
}

.list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list h2 {
  font-size: 2em;
}

.videos {
  grid-area: videos;
}